<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="./logs/nlog_internal.log">

	<!-- 参考URL -->
	<!-- https://github.com/NLog/NLog/wiki-->
	<!-- https://sabakunotabito.hatenablog.com/entry/2021/11/01/015133 -->
	<!-- https://qiita.com/developpermanati/items/1de20d836070f42049cf -->
	<targets>
		<!-- ファイル -->
		<!-- 
		・name - rules の出力先に設定するために任意の名前を指定します。
		・xsi:type - ファイルへ出力するためのタイプ ”File” を指定します。
		・encoding - ファイル出力のエンコーディングを指定します。
		・writeBom - BOM(バイトオーダーマーク)の有り無しを指定します。 BOM有りだと文字コード判定が容易なので、エディタの文字化けが防げます。
		・lineEnding - OSに合わせた改行コードが指定できます。Default(OSに合わせる), CR, CRLF, LF, None から選択します。
		・layout - ログのフォーマットを指定します。必要に応じて編集してください。
		・fileName - ログファイルの出力先を指定します。{processname} 変数でプロセス名をファイルに名にしています。
		・archiveFileName - バックアップ先のファイル名を指定します。{###} 変数は数字の連番になります。
		・archiveEvery - 指定の時間でログファイルを切り替えます。Day, Hour, Minute, Month, None などから選択します。
		・archiveNumbering - 連番の番号の付け方を Rolling, Sequence から選択します。
		・maxArchiveFile - 保存するアーカイブファイルの最大数を指定します。デフォルトは 0 です。
		-->
		<target name="logFile"
                xsi:type="File"
                encoding="UTF-8"
                writeBom="true"
                lineEnding="Default"
                layout="${longdate} ${level:uppercase=true:padding=-5} [${threadid}] ${callsite} ${message} ${exception:format=tostring}"
                fileName="./logs/${processname}.log"
                archiveFileName="../logs/backup/${processname}_{###}.log"
                archiveEvery="Day"
                archiveNumbering="Sequence"
                maxArchiveFiles="10" />

		<!-- Console -->
		<target name="console" xsi:type="ColoredConsole" layout="${longdate} ${level:uppercase=true:padding=-5} ${message}" />

		<!-- Viewer(Log2Console, etc...) -->
		<target name="tcpOutlet" xsi:type="NLogViewer" address="tcp4://localhost:4505"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="logFile" />
		<logger name="*" minlevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Trace" writeTo="tcpOutlet" />
	</rules>
</nlog>